<% provide :title, t(".title_ab") %>
<h1><%= t(".title_ab") %></h1>
<p>
  <%= t(".the") %> <em><%= link_to t("static_pages.home.h2"), "https://www.railstutorial.org/" %></em><%= t(".ab") %>
  <%= link_to t(".ab1"), "https://www.learnenough.com/" %>
  <%= t(".ab2") %>
  <%= link_to t("static_pages.help.he4"), "https://www.railstutorial.org/book" %>
  <%= t(".ab3") %>
  <%= link_to t(".ab4"), "https://screencasts.railstutorial.org/" %>
  <%= t(".ab5") %>
  <%= link_to t(".ab6"), "https://www.railstutorial.org/" %>
  <%= t(".ab7") %>
</p>
