<% provide :title, t("help") %>
<h1><%= t("help") %></h1>
<p>
  <%= t(".he") %>
  <%= link_to t(".he1"), "https://www.railstutorial.org/help" %>
  <%= t(".he2") %>
  <%= link_to t(".he3"), "https://www.railstutorial.org/book" %>
</p>
