<% provide :title, t(".title_he") %>
<h1><%= t(".title_he") %></h1>
<p>
  <%= t(".he") %>
  <%= link_to t(".he1"), "https://www.railstutorial.org/help" %>
  <%= t(".he2") %>
  <%= link_to t("static_pages.home.h2"), "https://www.railstutorial.org/book" %>
</p>
