<% provide :title, t(".title_h") %>
<div class="center jumbotron">
<h1><%= t(".h") %></h1>
  <h2>
  <%= t(".h1") %></h1>
    <%= link_to t(".h2"), "https://www.railstutorial.org/" %>
    <%= t(".h3") %></h1>
  </h2>
    <%= link_to t(".h4"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
