<footer class="footer">
  <small>
    <%= t(".the") %> <%= link_to t(".ruby"), "https://www.railstutorial.org/" %>
    <%= t(".by") %> <%= link_to t(".author"), "https://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".news"), "https://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
